
.menu-bar_item {
	display: flex;
	margin: auto;
	align-items: center;
}

.menu-bar_item > ul {
	display: flex;
	list-style: none;
}

.menu-bar_item > ul > li{
	padding: 5px;
	margin-right: 15px;
}

.menu-bar_item >ul > li> a {
	text-decoration: none;
	color: rgb(34, 34, 34);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 5px;
}

.menu-bar_item >ul > li> a:hover {
	color: rgb(21, 21, 122);
	font-weight: 600;
}
